@media screen and (max-width: 420px) {
    
    /* GENERICS */
        
    h1 {
        margin-bottom: 15px;
    }

    h3 {
        margin: 0;
    }
    
    img {
        height: 100px;
    }

    .row {
        margin-top: 10px;
        width: 100%;
       
    }
    
    /* LEZIONI */
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        /* float: none; */
        margin: 0 auto;
    }

    #lezioni .row img {
        margin-top: 20px;
    }
    
    /* STEPS  */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        /* float: none; */
        margin: 0 auto;
        width: 100%;
    }
    
    #steps .row img {
        margin-top: 20px;
    }

    .container.grey {
        background-color: rgb(255, 255, 255);
     
    }

    /* Perché */
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top:0;
        width: 100%;
        
    }

    
}